* {
    color: lightskyblue;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
    font-family: Century, Arial, sans-serif;
    border-collapse: collapse;
}

HTML {
    background-color: #333
}




/**header**/
header, header *{
    background-color: #333;
}


/**Primera sección**/
.header__section{
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 6px;
}
.header__section #caballero{
    background-color: #333;
    display: inline;
    width: 3rem;
    height: 4rem;
}
.header__section #sol{
    background-color: #333;
    display: inline;
    width: 2rem;
    height: 2rem;
}


/**Segunda nav**/
.header__nav{
    display: block;
    text-align: center;
    margin-bottom: 9px;
}
.header__nav__link{
    display: inline;
    width: 20%;
    background-color: rgb(74, 74, 74);
    color: rgb(78, 78, 248);    
    border: 3px solid #444;
}
.header__nav__link:hover {
    background-color: rgb(100,100,100);
}




/**main**/
main, footer {
    background-color: black;
}

main *, footer *{
    background-color: black;
}


/**Primera seccion**/
.main__header {
    display: inline-block;    
    width: 100%;
}
.main__header * {
    background-color: lightskyblue;
    color: black;
    text-align: center;
}
.main__header__h1 {
    padding: 1rem 0 1rem 0;
    text-decoration: underline;
}
.main__header__img {
    width: 100%;
    height: auto;
}


/**Segunda seccion**/
.text{
    display: inline-block;
    width: 100%;
    padding: 1rem 0 1rem 0;

}
.text__p {
    width: 95%;
    background-color: rgb(25, 25, 25);
    font-size: 2rem;
}


/**Tercera seccion**/
.main__table{
    border: 0.25rem solid gray;
    margin: 1rem 0 0 2.25rem;
    background-color: rgb(25, 25, 25);
}
.main__table th {
    background-color: lightskyblue;
    color: black;
}
.main__table td {
    border-top: 0.25rem solid gray;
    background-color: rgb(25, 25, 25);
}




/**footer**/
.footer *{
    background-color: lightskyblue;
    color: black;
}
.footer {
    background-color: lightskyblue;
    padding-top: 1rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
}


/**Primera sección**/
.footer__nav__p {
    display: inline;
}
.footer__nav__a {
    border: 3px solid gray;
    text-decoration: none;
}




/**Celular**/
@media (max-width: 767px) {}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {}
/**PC**/
@media (min-width: 991px) {}
