* {
    color: lightgreen;
    font-style: normal;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    padding: 0;
    font-family: Century Gothic,Arial,sans-serif;
}
html {
    background-color: black;
}


/**header**/
header{
    background-color: #333;
}

.header-section__table__img{
    width: 2rem;
}

.header-nav__table {
    background-color: rgb(74, 74, 74);
}

.header-nav__table th{
    border: 3px solid #444;
    border-collapse: collapse;
}

.header-nav__table__link {
    color: rgb(78, 78, 248);
}

.header-nav__table__link:hover {
    background-color: rgb(100,100,100);
}

.header-section #caballero{
    background-color: #333;
    width: 3rem;
    height: 4rem;
}

.header-section #sol{
    background-color: #333;
    width: 2rem;
    height: 2rem;
}


/**main**/
main, footer {
    background-color: black;
}

main *, footer *{
    background-color: black;
    letter-spacing: 2px;
    word-spacing: 2px;
}

main h1{
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 5rem;
}

main h2{
    font-size: 4rem;
}

main img {
    width: 50%;
    display: flex;
}

main p {
    font-size: 2rem;
    line-height: 1,5;
}

main table{
    border: 0.25rem solid gray;
    border-radius: 1rem;
    border-collapse: collapse;

}

main table li{
    border-top: 0.25rem solid gray;
    border-radius: 1rem;
    border-collapse: collapse;
}


/**footer**/
footer, footer * {
    background-color: rgb(58, 58, 58);
}

.footer-nav__a {
    color: rgb(78, 78, 248);
}

.footer-form__input {
    border: 3px solid gray;
    border-top: 3px solid white;
    border-left: 3px solid white;
    display: block;
    margin-bottom: 0.50rem;

}

.footer-form__button {
    border: 3px solid gray;
    border-top: 3px solid white;
    border-left: 3px solid white;
    display: block;
}


/**Celular**/
@media (max-width: 767px) {
    * {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 1.40rem;
    }
    h2 {
        font-size: 1.30rem;
    }
}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {}
/**PC**/
@media (min-width: 991px) {}
